.buttons {
	display: flex;
	justify-content: space-between;
}

@media screen and (max-width: 767px) {
	.buttons {
		&__buy {
			display: none;
		}
	}
}

@media screen and (min-width: 768px) {
	.buttons {
		&__buy {
			width: 160px;
			height: 44px;
			background: #ffffff;
			border-radius: 22px;

			font-family: DM Sans;
			font-style: normal;
			font-weight: bold;
			font-size: 16px;
			line-height: 21px;

			color: #d41443;
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
	.buttons {
		align-items: center;
		width: 210px;
	}
}
@media screen and (min-width: 1280px) {
	.buttons {
		&__menu {
			display: none;
		}
	}
}
